language: android
android:
  components:
  - platform-tools
  - tools
  - android-28
  - build-tools-28.0.2
  - extra-android-support
  - extra-android-m2repository
  licenses:
  - android-sdk-license-.+
jdk:
- oraclejdk8
branches:
  except:
  - gh-pages
notifications:
  email: false
sudo: false
script: "./gradlew :library:build :library:test :sample:assembleDebug :sample:testDebug"
cache:
  directories:
  - "$HOME/.gradle"
  - "$HOME/.m2"
after_success:
- "./deploy.sh"
before_install:
- openssl aes-256-cbc -K $encrypted_06b1e6b9a94a_key -iv $encrypted_06b1e6b9a94a_iv
  -in freeletics.gpg.enc -out freeletics.gpg -d
env:
  global:
  - secure: o9ZmjADtyvJzzklCbtHOMxWLpJfvqEZIknEcbhpb5kVf2FEDv7X+mOjmVIWa4V73pa6d934i4O2S1FCBfZYM/FnKm/XW5NKVehZFp5iWzop6YbHwvYVqQjozRj12j1HE92+XJKPO+KbU3YI/f689+p+hXnjvA+3I5s/J+MbjencvouasCtmv/1Io0lBeLRtwi87Unu0QS7FeQkU0zl3uJPxBGlXMJIR9vt3kObkO5tZO73ZPD2RMHPSxxv/Q0ZEM0cp2Y9RnrzOUHirrhoKidE/TJXLl5/ebgZgBxi6td7xAh56E3MogpDq52at8Fzr2QKTi2rGzbT/RXqzwbpsIzQepnNCVY3N2c8Pm535fXAZsXD/O8qFuomwtSkBagBri9/shhMe4PC6OB4wA05llhp40Wpao1oMB1NGFDnhy2d0iR/6HNTwBbuYzAaY2d2zMDA1u766D6HiytAXsveka8H7D+rMZIXwCwE4nuh5OJmaLNFTSqj5rXot+yFnAt6xSNjA2SQmVjvICXg6i4MvLLNNxI8DBtLf/QfaTPBXYsA19R3OPlXMY6/IwV1ZQiMzYFj7Ol8YfSB57zkcy9SHv7P+IqGXaB6OgEmDlBEuHbDmW2m4Y+dFUJicfXvoYYxnsoCMnE4DSJYdcUI+PHvlAb/4dsm8CN66LKEIbbK0H2+w=
  - secure: JaAQr1QBKLkbBe6UiVQXSSg0eaq2YYXwrSaihzXpuuWtQLDVmeH0G4s6Kvanz4WB/hmpHWQU6YUjzWs5tSTwFsQiUOTFoOlZqiZhkB7uUsU9SZ/emba5vuxKk0ya7GL/Gk2D3iyYcbaw/4R9eepQ3tS0lVoB0iqPreY2C9vFmpzS/4n3tmqGoZDuq3bGLoClG4i75qsuuf1OSHpX2zfmKyFY0puD9hi8Sedh8IbnID+rQ2SSLyVfeUhqmkC3dOo7w47sOxWCnctXYvVT/O518fczN94lfE+4ndVGJlBMq+hqSiturCPdw6mK9BRh9fhDw5FmCDFlKjj/zH9J86ywvFmBSSVEuAo+ZzJE7Ioc/zye6ECJ2dvIV+dsE6bkyMd1sO8TltfFFbCgL7GjsdCMM7NRA1ayh0NXCbzgbz/6jdVoZ3XBlAXBdsY4qm5+Z0rVT5igdd+3geGFSgebrvbJoNlg7gCzpnjdUExy9lTPlPBUxAl+FW6EZOf/3KmgnIsfaSTslc6N7Za1M+kFRT3n/XIfxkcyccm2sFIt/A4V12vP6lb+8mlLqXKRAo38OgYk4mV3ZLjoprYqfyQuey4NovNqC8296fsiKIxTjI6Zgiu9qhNQKyAVGta6fDOKrblshpjaA52b/ZKk3vwy2Cn1i+rag6ayepeufH6LEnZIaeg=
  - secure: Ex/iiDRJrx2e3L+G/XrGqfFuh4chdSa/zBsicWsc3VAPRYTZBkb7xrvAp6E/ddFcyDpJPp1oZjrKuguar7nZeaPhkEZWIgJPbGucA/OZW/8VNsKuu/FvV72dI26U1N4aZgDBQGbiI/Ft5/37yuTY6zaJ5NbZCMkN8as+zIgyCa80QNCjCA0HdZGVGjYcNLNZz3cklMFIzMrPuUBZTxmssucxyVL8bpFdx2LhbKA7jBp33BBpydZAv6OUqnGL2CzOqOOUzgdQVUYkIz+1MWagpR+d9q7ShmkgWAANg0InPIrkO7Cl15A/mi7f4XLLLV3EpfbQf8jrbAnEF1iRmrmRcAo43N0wwSXjXb5BCE4bLghN+OsNcjBOzh2e/C6yepI5ijasKH0gtjP6fpVyNpLVzECfs0sld75261plbQvO3KVQN6vVEGB54uSXhnkWQiSGz0Pr6YsTV2jtKmm4EfFnHTN0pTCjwdbnHAgkyM98rlX/SmpCwX2/hgbzX/y68CENOQr5ocCf/WGotkKs/XbzSz1DqHXEZANhKp9MtzQnduyXhjYLbPVvDZrHxQpUpg2i4I4DPb3MLblW0y7i7/EN3Y0Sw/QZ4c4MAQcoRcP8W+yv/15i2Ic4XO86TnVNGO0WZ5IHYW0Bx1xNS0+gOwxMCKDE/AjBfTrgHfbQr7SMgYE=
